{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <form action="/settings" method="POST">
        <h2 class="input-text">Account Settings</h2>
        <hr class="short-hr">
        <h4 class="input-text">Account Details</h4>
        <div>
            <label class="input-text">Email:</label>
            <label class="input-text" value="{{ email }}">{{ email }}</label>
        </div>
        <a class="input-text" href="/change_password">Change Password</a>
        <hr class="short-hr">
        <h4 class="input-text">Emergency Contact Information</h4>
    </form>
{% endblock %}